.large-card-carousel{
    /* position: relative; */
    /* top: 10px; */
    /* border: 1px solid red; */
    overflow: hidden;
    height: 300px;
    /* width: 1460px;     */
    /* z-index: 1; */
}

.large-inner {
    white-space: nowrap;
    transition: transform 3s;
    /* width: fit-content; */
    /* height: 450px; */
    z-index: 1;
}

.large-btn-container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    /* width: fit-content; */
    height: 100%;
    /* width: fit-content; */
    width: 100;
    /* border: 1px solid green; */
}

.large-card-carousel-img {
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */
    margin-left: 10px;
    height: 250px;
    width: 200px;
    /* width: 100px; */
}

.large-indicators {
    /* display: inline-flex; */
    background-color: transparent;
    width: 100px;
    border: none;
    cursor: pointer;
}

.large-inner {
    /* display: flex; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* align-items: center; */
    /* width: min-content; */
    white-space: nowrap;
    transition: transform 3s;
    /* border: 1px solid red; */
    /* height: 450px; */
    z-index: 1;
}
.large-carousel-container{
    display: flex;
    /* align-items: flex-start; */
    /* position: absolute; */
    border: 1px solid red;
    /* top: 100px; */
    /* height: 525px; */
    width: 1450px;
    /* background: linear-gradient(#e66465, #e664642c); */

}

.large-carousel-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0px 5px;
    /* display: inline-flex; */
    /* align-items: center; */
    /* flex-direction: row; */
    /* justify-content: center; */
    /* border: 5px solid red !important; */
    /* width:  1500px; */
    /* margin: 100px 0px 0px 0px; */
    /* align-items: center; */
    /* justify-content: center; */
    /* height: 550px; */
    /* background-color: green; */
    /* color: #fff; */
}

.large-right-btn {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    height: 100%;
    /* right: 0px; */
    /* position: absolute; */
    /* color: black; */
    width: 100px;
    /* border: 1px solid black; */
    z-index: 100;
}

.large-left-btn {
    display: flex;
    /* flex-direction: flex-end; */
    height: 100%;
    /* position: absolute; */
    width: 100px;
    /* color: black; */
    /* border: 1px solid black; */
    z-index: 100;
}

.large-right-icon,
.large-left-icon {
    height: 100%;
    width: 50%;
    color: black;
}

.large-card-img {
    max-width: 250px;
}